autocorrect==2.5.0
certifi==2021.5.30
click==8.0.1
dataclasses==0.8
Flask==2.0.1
Flask-Cors==3.0.10
gunicorn==20.1.0
importlib-metadata==4.6.1
itsdangerous==2.0.1
Jinja2==3.0.1
joblib==1.0.1
MarkupSafe==2.0.1
nltk==3.6.2
numpy==1.19.5
pandas==1.1.5
python-dateutil==2.8.2
pytz==2021.1
regex==2021.7.6
six==1.16.0
tqdm==4.61.2
typing-extensions==3.10.0.0
Werkzeug==2.0.1
zipp==3.5.0
