<!DOCTYPE HTML>
<html>
<head>
<title>Checkout</title>
<link rel="stylesheet" href={{url_for('static', filename='css/checkout.css')}} />
<link rel="stylesheet" href={{url_for('static', filename='css/topStyle.css') }} />
</head>
<body>
<div id="title">
	<a href="/">
	<img id="logo" src= {{ url_for('static', filename='images/logo.png') }} />
	</a>
	<form>
		<input id="searchBox" type="text" name="searchQuery">
		<input id="searchButton" type="submit" value="Search">
	</form>

	{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Sign In</a>
		</div>
	{% else %}
	<div class="dropdown">
		<button class="dropbtn">Hello, <br>{{firstName}}</button>
		<div class="dropdown-content">
			<a href="/account/orders">Your orders</a>
			<a href="/account/profile">Your profile</a>
			<hr>
			<a href="/logout">Sign Out</a>
		</div>
	</div>
	{% endif %}
	<div id="kart">
		<a class="link" href="/cart">
		<img src={{url_for('static', filename='images/shoppingCart.png')}} id="cartIcon" />
		CART {{noOfItems}}
		</a>
	</div>
</div>
<div id="checkout">
	<h2>Checkout</h2>
	<span id="total">Your Total - ${{totalPrice}}</span>
	<br>
	<a href="/order_confirmation">Pay Now</a>
	<br>
	<a href="/cancel_order">Cancel</a>
</div>
</body>
</html>

